header {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

header img {
    width: 3.5em;
    height: 3em;
    margin: 1em 2em;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-nav li {
    display: inline-block;
    padding: 1em 2em 0 0;
}

.top-nav ul {
    display: flex;
}

.top-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}

.header-text {
    margin: 1.5em 0 0 7em; 
}

.header-text h1 {
    line-height: 1.2;
    padding-bottom: 0.4em;
    max-width: 22ch;
    font-size: 2.8em;
    font-weight: 400;
}

.header-text p {
    max-width: 62ch;
    padding-bottom: 12em;
}